name: Dockerimage Builder

on:
  push:
    branches: 
      - master
      - refactor
  workflow_dispatch:

jobs:
  latest:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Build the Docker image
      env:
        HUB_NAME: ${{ secrets.DOCKER_NAME }}
        HUB_KEY: ${{ secrets.DOCKER_TOKEN }}
        BLENDER_URL: https://download.blender.org/release/Blender3.2/blender-3.2.1-linux-x64.tar.xz
        BLENDER_VERSION_STRING: "3.2"
      run: |  
        docker login -u $HUB_NAME -p $HUB_KEY
        docker build . --pull --no-cache --file Dockerfile --tag crowdrender/blender-crowdrender:latest --build-arg BLENDER_BZ2_URL="$BLENDER_URL" BL_VERSION_SHORT="${BLENDER_VERSION_STRING}"
        docker tag crowdrender/blender-crowdrender:latest crowdrender/blender-crowdrender:bl_${BLENDER_VERSION_STRING}
        docker push crowdrender/blender-crowdrender:latest
        docker push crowdrender/blender-crowdrender:bl_${BLENDER_VERSION_STRING}

  LTSone:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Build the Docker image
      env:
        HUB_NAME: ${{ secrets.DOCKER_NAME }}
        HUB_KEY: ${{ secrets.DOCKER_TOKEN }}
      run: |
        docker login -u $HUB_NAME -p $HUB_KEY
        docker build . --pull --no-cache --file Dockerfile.cuda10 --tag crowdrender/blender-crowdrender:bl_2.83_cu_10
        docker push crowdrender/blender-crowdrender:bl_2.83_cu_10

  LTStwo:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Build the Docker image
      env:
        HUB_NAME: ${{ secrets.DOCKER_NAME }}
        HUB_KEY: ${{ secrets.DOCKER_TOKEN }}
      run: |
        docker login -u $HUB_NAME -p $HUB_KEY
        docker build . --pull --no-cache --file Dockerfile.cuda11 --tag crowdrender/blender-crowdrender:nvidia
        docker tag crowdrender/blender-crowdrender:nvidia crowdrender/blender-crowdrender:bl_2.93_cu_11
        docker push crowdrender/blender-crowdrender:nvidia
        docker push crowdrender/blender-crowdrender:bl_2.93_cu_11
