name: Dockerimage latest

on:
  push:
    branches: 
      - master

jobs:
  CPU:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2.0.0
      with:
        branch: master
    - name: Build the Docker image
      env:
        HUB_NAME: ${{ secrets.DOCKER_NAME }}
        HUB_KEY: ${{ secrets.DOCKER_TOKEN }}
      run: |  
        docker login -u $HUB_NAME -p $HUB_KEY
        docker build . --file Dockerfile --tag zocker160/blender-crowdrender:latest
        docker tag zocker160/blender-crowdrender:latest zocker160/blender-crowdrender:bl_2.83
        docker push zocker160/blender-crowdrender:latest
        docker push zocker160/blender-crowdrender:bl_2.83

  nvidia:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2.0.0
      with:
        branch: master
    - name: Build the Docker image
      env:
        HUB_NAME: ${{ secrets.DOCKER_NAME }}
        HUB_KEY: ${{ secrets.DOCKER_TOKEN }}
      run: |  
        docker login -u $HUB_NAME -p $HUB_KEY
        docker build . --file Dockerfile.cuda10 --tag zocker160/blender-crowdrender:nvidia
        docker tag zocker160/blender-crowdrender:nvidia zocker160/blender-crowdrender:bl_2.83_cu_10
        docker push zocker160/blender-crowdrender:nvidia
        docker push zocker160/blender-crowdrender:bl_2.83_cu_10
