name: Dockerimage Builder

on:
  push:
    branches: 
      - master
  workflow_dispatch:

jobs:
  latest:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Build the Docker image
      env:
        HUB_NAME: ${{ secrets.DOCKER_NAME }}
        HUB_KEY: ${{ secrets.DOCKER_TOKEN }}
      run: |
        docker login -u $HUB_NAME -p $HUB_KEY
        
        docker build . --pull --no-cache --file Dockerfile --tag crowdrender/blender-crowdrender:latest
        
        docker tag crowdrender/blender-crowdrender:latest crowdrender/blender-crowdrender:bl_3.2
        
        docker push crowdrender/blender-crowdrender:latest
        docker push crowdrender/blender-crowdrender:bl_3.2

  LTSone:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Build the Docker image
      env:
        HUB_NAME: ${{ secrets.DOCKER_NAME }}
        HUB_KEY: ${{ secrets.DOCKER_TOKEN }}
      run: |
        docker login -u $HUB_NAME -p $HUB_KEY
        
        docker build . --pull --no-cache --file Dockerfile.293LTS --tag crowdrender/blender-crowdrender:bl_2.93
        
        docker push crowdrender/blender-crowdrender:bl_2.93

  LTStwo:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Build the Docker image
      env:
        HUB_NAME: ${{ secrets.DOCKER_NAME }}
        HUB_KEY: ${{ secrets.DOCKER_TOKEN }}
      run: |
        docker login -u $HUB_NAME -p $HUB_KEY
        
        docker build . --pull --no-cache --file Dockerfile.283LTS --tag crowdrender/blender-crowdrender:bl_2.83
        
        docker push crowdrender/blender-crowdrender:bl_2.83
